<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Web Application</title>
		<meta name="description" content="Web Application" />
		<meta name="keywords" content="web, application" />
		<%= stylesheet_link_tag "main.css"%>
	</head>
	<body>

		<div id="header">
			<h1>Lebenshilfe Dresden e.V.</h1>
			<ul id="menu">
				<li class="active">
					<a href="/search/find_entrys">Suche</a>
				</li>
				<li>
					<a href="/create_new_entry/new_entry">Anlegen</a>
				</li>
				<li><a href="/basket/show_entrys">Warenkorb</a></li>
			</ul>
		</div>

		<div class="wrap">

			<%= form_for(@accommodation_unitrail, :url => { :controller => controller.controller_name , :action => "get_data_from_form" }, :multipart => true) do |form|  %>
			<table >
				<tr>
					<td><h3>Eigenschaften</h3></td>
					<td></td>
				</tr>
				<tr>
					<td  align="left"> <%= form.text_field :distance_to_dresden, :value => nil%>
					Distance Dresden</td>
					<td  align="left"> <%= form.text_field :amount_of_rooms, :value => nil%>
					Anzahl Räume </td>
				</tr>
			
					<tr>
						<td  align="left"> <%= form.text_field :max_group_size, :value => nil%>
						max. Gruppengröße </td>
						<td  align="left"> <%= form.text_field :amount_of_lebenshilfe_stars, :value => nil%>
						Anzahl Lebenshilfesterne </td>
					</tr>
		<tr>
			<td  align="left">
			
			<%= collection_select(:federal_state, :id, Config_Values.where(:topic=>'federal_state'), :name, :value,{:include_blank => true},{:multiple => true} )%>

			Bundesland
			</td>
			<td  align="left">
			<%= collection_select(:kind_of_house, :id, Config_Values.where(:topic=>'kind_of_house'), :name, :value,{:include_blank => true},{:multiple => true}) %>
			Wohneinheitentyp
			</td>
		</tr>
		<tr>
			<%= render :file => '/shared/_checkbox_entrys.html.erb' ,:locals => {:form => form}%>
		<tr>
			<td> <%= image_submit_tag("search32.png")%></td>
		</tr>
			</table>
			<% end%>

		</div>
	</body>
</html>