<<<<<<< HEAD
<p>  
	<td><%= form.label :content, "Link" %> 
	  <%= form.text_field :'link',:value => nil %> </td> 
	<td><%= form.label :content, "link_description" %> 
	  <%= form.text_field :'link_description',:value => nil %></td>  
</p> 
=======

	<p class="fields">  
        <%= form.label :content, "Link" %>
	  <%= form.text_field :'link',:value => nil %> 

	  	
	  <%= form.hidden_field :_destroy %>
	  <%= link_to_function "remove", "remove_fields(this)" %>

	 

</p> 

>>>>>>> d81c24f1495dddca397f0e338a4091db4a3bbb74
