
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Web Application</title>
	<%= stylesheet_link_tag "main.css"%>
</head>
<body>


	<div id="header">
		<h1>Lebenshilfe Dresden e.V.</h1>
		<ul id="menu">
			<li><a href="/search/find_entrys">Suche</a></li>
			<li><a href="/create_new_entry/new_entry">Anlegen</a></li>
			
			<%= link_to "Bearbeiten",:controller => "entry",:action => "edit_entry",:id =>@accommodation_unitrail.id %>
		</ul>
	</div>

<div class="wrap">
	
	<table >
		<tr>
			<td ><h3>Anschrift</h3></td>
			<td></td>
		</tr>
		<tr>
			<td  align="left">
			<p class="entry_sections">Name:</p>
			<font align=right><%= @accommodation_unitrail.name %></font>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td  align="left">
			<p class="entry_sections">Ansprechpartner:</p>
			<font align=right><%= @accommodation_unitrail.contact_person %></font>
			</td>
			<td  align="left">
			<p class="entry_sections">Tel. Ansprechpartner</p>
			<font align=right><%= @accommodation_unitrail.tel_contact_person %></font>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<p class="entry_sections">Straße:</p>
			<font align=right><%= @accommodation_unitrail.street %></font>
			</td>
			<td  align="left">
				<p class="entry_sections">HauseNr:</p>
			<font align=right><%= @accommodation_unitrail.house_number %></font>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<p class="entry_sections">Stadt:</p>
			<font align=right><%= @accommodation_unitrail.city %></font>
			<br>
			</td>
			<td  align="left">
			<p class="entry_sections">PLZ:</p>
			<font align=right><%= @accommodation_unitrail.postal_code %></font>
			</td>
		</tr>
		<tr>
			<td  align="left">
				<p class="entry_sections">Bundesland:</p>
				<font align=right><%= @accommodation_unitrail.federal_state %></font>
			
			
			</td>
			<td  align="left">
			<p class="entry_sections">Wohneinheitentyp:</p>
				<font align=right><%= @accommodation_unitrail.kind_of_house %></font>
			</td>
		</tr>
		
		<tr>
			<td ><h3>Kontakt</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<p class="entry_sections" > Email:</p>
			<font align=right><%= @accommodation_unitrail.email %></font>
			</td>
			<td  align="left">
			<p class="entry_sections" > Internetadresse:</p>
			<a href="<%= @accommodation_unitrail.internetadress %>" target="_blank"><%= @accommodation_unitrail.internetadress %></a>
			</td>
		</tr>
		<tr></tr>
		<tr>
			<td ><h3>weitere Eigenschaften</h3></td>
			<td ></td>
		</tr>
			<tr>
			<td  align="left">
			<p class="entry_sections">Anzahl Zimmer:</p>
			<font align=right><%= @accommodation_unitrail.amount_of_rooms %></font>
			
			</td>
			<td  align="left">
			<p class="entry_sections"> max. Gruppengröße:</p>
			<font align=right><%= @accommodation_unitrail.max_group_size %></font>
			
			</td>
		</tr>
		<tr>
			<td  align="left">
			</td>
			<td  align="left">
			<p class="entry_sections"> Lebenshilfesterne:</p>
			<% for i in 1..@accommodation_unitrail.amount_of_lebenshilfe_stars.to_i %>
			<%=  image_tag("lebenshilfestern.png", :size => "20x20")%>
			<% end %>
			</td>
		</tr>
		<tr>
			<td  align="left">
				<p class="entry_sections">Beschreibung:</p>
			</td>		
			<td  align="left">
				<p class="entry_sections"> Entfernung u. Maps</p>
				</td>
		</tr>
		<tr>
			<td  VALIGN="top">	
			<textarea  rows="10" cols="20" readonly="readonly" disabled="disabled"><%= @accommodation_unitrail.description %></textarea>
			</td>	
			<td  align="left">
			
				<%= image_tag "http://maps.google.com/maps/api/staticmap?zoom=14&size=300x300&maptype=roadmap&markers=#{@accommodation_unitrail.latitude},#{@accommodation_unitrail.longitude}&sensor=false" %>
			</td>
		</tr>
		<tr>
			<td  align="left">
				<p class="entry_sections">Bettenplan</p>
			</td>		
			<td  align="left">
				<p class="entry_sections"> Bild Einrichtung</p>
				</td>
		</tr>
		<tr>
			<td>
				
				<%= image_tag url_for(:controller => "entry", :action => "code_image", :id => @accommodation_unitrail.id,:category => "bedplan"),:size => "260x180" %>
			</td>
						<td>
				
				<%= image_tag url_for(:controller => "entry", :action => "code_image", :id => @accommodation_unitrail.id,:category => "foto"),:size => "260x180" %>
			</td>
		</tr>

			<%= form_for(@accommodation_unitrail, :url => { :controller => controller.controller_name , :action => "get_data_from_form" }, :multipart => true) do |form|  %>
			
				<%= render :file => '/shared/_checkbox_entrys.html.erb' ,:locals => {:form => form}%>
		<%end%>
	</table>
</div>
</body>
</html>
