
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Web Application</title>
	<meta name="description" content="Web Application" />
	<meta name="keywords" content="web, application" />
	
	<%= javascript_include_tag 'jquery_ujs' %>
	<%= stylesheet_link_tag "main.css"%>
	<%= javascript_include_tag "application" %>
</head>
<body>

	<div id="header">
		<h1>Lebenshilfe Dresden e.V.</h1>
		<ul id="menu">
			<li ><a href="/search/find_entrys">Suche</a></li>
			<li class="active"><a href="/create_new_entry/new_entry">Anlegen</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</div>
<div class="wrap">
	<%= form_for(@accommodation_unitrail, :url => { :action => "create_entry_from_formdata" }, :multipart => true) do |form|  %>
     <table>
     <tr>
			<td><h3>Anschrift</h3> <div class="red">(Pflichtfelder*)</div></td>
			<td></td>
		</tr>
		<tr>
			<td  align="left">
			<%= form.text_field 'name',:value => nil, :required => true%>
			Name Einrichtung*
			<br>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td  align="left">
			<%= form.text_field :'contact_person',:value => nil, :required => true%>
			
			Ansprechpartner*
			<br>
			</td>
			<td  align="left">
				<%= form.phone_field :'tel_contact_person',:value => nil, :required => true%>
			
			Tel. Ansprechpartner*
			</td>
		</tr>
		<tr>
			<td  align="left">
			<%= form.text_field :'street',:value => nil, :required => true%>
			
			Straße*
			</td>
			<td  align="left">
			<%= form.text_field :'house_number',:value => nil, :required => true%>
			Hausnr.*
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">			
			<%= form.text_field :'city',:value => nil, :required => true%>
			Stadt*
			<br>
			</td>
			<td  align="left">
			<%= form.number_field :'postal_code',:value => nil, :required => true%>
			Postleitzahl*
			<br>
			</td>
		</tr>
				<tr>
			<td  align="left">
			<%= collection_select(:federal_state, :id, Config_Values.where(:topic=>'federal_state'), :name, :value) %>
			
			Bundesland*
			</td>
			<td  align="left">
			<%= collection_select(:house_style, :id, Config_Values.where(:topic=>'house_style'), :name, :value) %>
			Wohneinheitentyp
			</td>
		</tr>
		<tr>
			<td ><h3>Kontakt</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
				<%= form.email_field 'email',:value => nil %>
			
			Email
			<br>
			</td>
			<td  align="left">
				<%= form.url_field 'internetadress',:value => nil %>
			
			Internetadresse (http://www.beispiel.de)
			<br>
			</td>
		</tr>
		<tr></tr>
		<tr>
			<td ><h3>weitere Eigenschaften</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
				<p align="left">Beschreibung</p>
			</td>		
			<td  align="left">
			<p align="left"> Foto</p>
			</td>
		</tr>
		<tr>
			<td  align="left">
				
			<%= form.text_area 'description',:value => nil ,:cols => 20, :rows => 10%>	
			</td>		
			<td  align="left">
			<%= form.file_field :foto %>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="text" name="amount_of_rooms" value="1">
			Anz. Zimmer
			<br>
			</td>
			<td  align="left">
			<input type="text" name="max_group_size">
			max. Gruppengröße
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			
			<input type="checkbox" name="winter_suitable" value="true">
			Winter geeignet
			</td>
			<td  align="left">
				<%= form.number_field 'amount_of_lebenshilfe_stars',:value => 1 ,:in => 1...4 %>	
			
			Lebenshilfesterne
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="text" name="latitude" >
			Latitude
			<br>
			</td>
			<td  align="left">
			<input type="text" name="longitude">
			Longitude
			<br>
			</td>
		</tr>
		<tr>
			<td ><h3>Zimmer</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="one_person_beth_rooms" value="true">
			Einbettzimmer
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="two_person_beth_rooms" value="true">
			Zweibettzimmer
			<br>
			</td>
		</tr>
				<tr>
			<td  align="left">
			<input type="checkbox" name="more_person_beth_rooms" value="true">
			Mehrbettzimmer
			<br>
			</td>
			<td  align="left">
			
			</td>
		</tr>
		<tr>
			<td ><h3>Vehrkersanbindung</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="public_transfer_weelchair" value="true">
			örtliche Busunternehmen (Rollstuhlbusse)
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="public_transfer" value="true">
			offentlich Verkehrsmittel
			<br>
			</td>
		</tr>
		<tr>
			<td ><h3>In Einrichtung vorhanden</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="internet" value="true">
			Internet
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="television" value="true">
			Fernseher
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="beamer" value="true">
			Beamer
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="grouproom" value="true">
			Gruppenraum
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="music_station" value="true">
			Musikanlage
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="bedding" value="true">
			Bettwäsche
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="dvd_player" value="true">
			DVD-Player
			<br>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td ><h3>Freizeitbeschäftigungen</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="playground" value="true">
			Spielplatz
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="kicker" value="true">
			Kicker
			<br>
			</td>
		</tr>
				<tr>
			<td  align="left">
			<input type="checkbox" name="grill_area" value="true">
			Grillplatz
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="campfire_area" value="true">
			Lagerfeuerstelle
			<br>
			</td>
		</tr>
					<tr>
			<td  align="left">
			<input type="checkbox" name="football_area" value="true">
			Fussballplatz
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="gym" value="true">
			Turnhalle
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="table_tennis" value="true">
			Tischtennis
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="bowling" value="true">
			Bowling
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="horse_riding" value="true">
			Reitmöglichkeit
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="natatorium" value="true">
			Schwimmhalle
			<br>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="outdoor_swimming_bath" value="true">
			Freibad / See
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="summer_coast" value="true">
			Sommerrodelbahn
			</td>
		</tr>
		<tr>
			<td ><h3>Behindertengerecht</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="lifter" value="true">
			Lifter
			<br>
			</td>
			<td  align="left"><input type="checkbox" name="weelchair_restricted" value="true">
			weelchair_restricted</td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="coster_bed" value="true">
			Pflegebett
			<br>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="wheelchair_accessible_bed" value="true">
			rollstuhlgerechte Betten
			<br>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="barrier_free" value="true">
			Barrierefrei
			<br>
			</td>
			<td ></td>
		</tr>
		
		<tr>
			<td ><h3>Einrichtungen in der Nähe</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="care_service" value="true">
			Pflegedienst vor Ort
			<br>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="shopping_facilities" value="true">
			Einkaufmöglichkeiten (5km Radius)
			<br>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td ><h3>Verpflegung</h3></td>
			<td ></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="full_board" value="true">
			Vollpension
			<br>
			</td>
			<td  align="left"></td>
		</tr>
		<tr>
			<td  align="left">
			<input type="checkbox" name="self_supply" value="true">
			Selbstversorgung
			<br>
			</td>
			<td  align="left">
			<input type="checkbox" name="half_board" value="true">
			Halbpension
			<br>
			</td>
			
		</tr>
		 <%= form.fields_for :links do |builder| %>
	<tr>
		
		 <%= render :partial => "/shared/link_field",:locals => { :form => builder} %> 
 		
 		
 		</tr>
 		<% end %>
 		
 		<%= link_to_function "add", "add_fields(this, form, #{:links})" %>
		<tr>
		
		<td> <%= form.submit "Upload"%></td>
	</tr>

	</table>
    <% end %>


</div>
</body>
</html>